<app-progress #progress (stateChange)="onStateChange($event)">
    <!-----------step1(Business Details)---------->
    <app-progress-step>
        <div class="businessDetailsForm">
            <h5 class="text-center workerTitle">Worker's compensation</h5>
            <form class="mt-4" name="businessDetails">
                <div class="form-row mt-2">
                    <div class="form-group col-md-6">
                        <label for="">Name of the Business</label>
                        <input type="text" name="businessName" class="form-control" id="businessName"
                            placeholder="Business name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Applicant">Applicant Name</label>
                        <input type="text" name="applicantName" class="form-control" id="applicantName"
                            placeholder="Applicant name">
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="form-group col-md-6">
                        <label for="">Address</label>
                        <input type="text" name="address" class="form-control" id="address" placeholder="Address">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="city">City</label>
                        <input type="text" name="city" class="form-control" id="city" placeholder="City">
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="form-group col-md-6">
                        <label for="zipCode">Zip code</label>
                        <input type="text" name="zipCode" class="form-control" id="zipCode" placeholder="Zip code">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="phone">Phone number</label>
                        <input type="number" name="phone" class="form-control" id="phone" placeholder="Phone">
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="form-group col-md-6">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="yearsInBusiness">Years in business</label>
                        <select id="yearsInBusiness" name="yearsInBusiness" class="">
                            <option></option>
                            <option *ngFor="let option of businessYears" value="{{option.id}}">{{option.years}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="form-group col-md-6">
                        <label for="Business">Business structure</label>
                        <select id="businessStructure" name="businessStructure" class="">
                            <option></option>
                            <option value="1">Solo proprietor</option>
                            <option value="2">LLC</option>
                            <option value="3">Corporation</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="contractor">Contractor Licence# </label>
                        <input type="text" name="contractorLicense" class="form-control" id="contractorLicense"
                            placeholder="Contractor license">
                    </div>
                </div>
                <div class="float-right mt-3">
                    <button class="nextBtn" (click)="goNext(progress)">
                        next
                    </button>
                </div>
            </form>
        </div>
    </app-progress-step>

    <!----------step2(Exclusions)----------->
    <app-progress-step>
        <div class="">
            <h5 class="text-center workerTitle mt-3 mb-3">Worker's compensation</h5>
            <form class="example-form">
                <div class="row">
                    <div class="col-md-6">
                        <p>Do you perfrom any of fallowing actions</p>
                    </div>
                    <div class="col-md-6 d-flex">
                        <div class="">
                            <input type="radio" id="yes" name="performAction" value="1">
                            <label for="yes" class="ml-2">Yes</label>
                        </div>
                        <div class="ml-4">
                            <input type="radio" id="no" name="performAction" value="2">
                            <label for="no" class="ml-2">No</label>
                        </div>
                    </div>
                </div>
                <div class="float-right mt-4">
                    <button progressStepPrev class="prevBtn nextBtn mr-3 text-dark">prev</button>
                    <button class="nextBtn" (click)="coverageDetails(progress)" color="primary">
                        next
                    </button>
                </div>
            </form>
        </div>
    </app-progress-step>

    <!--------------step3(Coverage details)------------>
    <app-progress-step>
        <h5 class="text-center workerTitle mb-3 mt-3">Worker's compensation</h5>
        <div class="form-group descriptionDiv screeningQuestionDiv">
            <label class="label-form">
                <span class="optional"></span></label>
            <div class="screeningQuestions " *ngFor="let classCode of classCodeAddingArray; let i = index">
                <div class="form-group  col-12 screeningQuestion paddingStyle">
                    <div class="row mt-2">
                        <div class="form-group col-md-8">
                            <select id="classCode_{{i}}" class="classCode">
                                <option *ngFor="let option of classCodes" value="{{option.classCode}}">{{option.option}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-4" *ngIf="classCodeAddingArray.length - 1 == i else deleteButton">
                            <button class="btn btn-primary" id="addScreeningQues" (click)="addClassCode(i)">Add
                                more</button>
                        </div>
                        <ng-template #deleteButton>
                            <div class="form-group col-md-4">
                                <button class="btn btn-danger" (click)="removeClassCode(i)">Delete</button>
                            </div>
                        </ng-template>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="">Payroll</label>
                            <input type="text" name="payroll" class="form-control number" id="payroll_{{i}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="">#Full Time Employees</label>
                            <input type="text" name="fullTimeEmployees" class="form-control"
                                id="fullTimeEmployees_{{i}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="">#Part Time Employees</label>
                            <input type="text" name="partTimeEmployees" class="form-control"
                                id="partTimeEmployees_{{i}}">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="">Experience modification factor(defalt is '1')</label>
                    <input type="text" name="experienceModification" class="form-control" id="experienceModification"
                        value="1">
                </div>
                <div class="form-group col-md-6">
                    <label for="">Effective date</label>
                    <input type="text" name="effectiveDate" class="form-control" id="effectiveDate">
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group col-md-12">
                    <label for="">Do you currently have workers Compansation Insurance? </label>
                    <select id="currentlyHaveWorkers" class="currentlyHaveWorkers">
                        <option value="one">----Select----</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group col-md-12">
                    <label for="">Any claims in the last 5 years for workers Compensation?</label>
                    <select id="claimsHaveWorkers" class="claimsHaveWorkers">
                        <option value="one">----Select----</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="float-right">
            <button progressStepPrev class="nextBtn prevBtn text-dark mr-3">prev</button>
            <!-----------Next button for Step4 ------->
            <button (click)="suplementalQuestions(progress)" class="nextBtn">next</button>
        </div>
    </app-progress-step>

    <!---------------step4(Supplemental Questions)----------->
    <app-progress-step>
        <div class="">
            <h5 class="text-center workerTitle mt-3 mb-3">Operations</h5>
            <form class="mt-4" name="operations">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="residential">How much of your work is residential(%)</label>
                        <input type="text" name="workResidential" class="form-control" id="workResidential">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="constructions">How much of your work is:new Constructions(%)</label>
                        <input type="text" name="workConstructions" class="form-control" id="workConstructions">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="interior">How much of your work is:<br> interior(%)</label>
                        <input type="text" name="workInterior" class="form-control" id="workInterior">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="commercial">Commercial(%)</label>
                        <input type="text" name="commercial" class="form-control" id="commercial">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="remodeling">Remodeling(%)</label>
                        <input type="text" name="remodeling" class="form-control" id="remodeling">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exterior">Exterior(%)</label>
                        <input type="text" name="exterior" class="form-control" id="exterior">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="industrial">Industrial(%)</label>
                        <input type="text" name="industrial" class="form-control" id="industrial">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="service">Service/Repair(%)</label>
                        <input type="text" name="service" class="form-control" id="service">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="form-group col-md-6">
                        <label for="maximumHeight">Maximum height exposure(ft)</label>
                        <input type="text" name="maximumHeight" class="form-control" id="maximumHeight">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="maximumDepth">Maximum depth exposure(ft)</label>
                        <input type="text" name="maximumDepth" class="form-control" id="maximumDepth">
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <p>Do you participate in OCIP or wrap-up-projects?</p>
                    <div class="col-md-6 d-flex">
                        <div class="">
                            <input type="radio" id="yesParticipate" name="participateOcip" value="1">
                            <label for="yesParticipate" class="ml-2">Yes</label>
                        </div>
                        <div class="ml-4">
                            <input type="radio" id="NoParticipate" name="participateOcip" value="2">
                            <label for="NoParticipate" class="ml-2">No</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex float-right">
                    <button progressStepPrev class="text-dark nextBtn prevBtn mr-3">prev</button>
                    <button progressStepNext class="nextBtn">next</button>
                </div>
            </form>
        </div>
    </app-progress-step>

    <!--------------step5(Owner information)------------>
    <app-progress-step>
        <div class="">
            <h5 class="text-center workerTitle mt-3 mb-3">Workers compensation</h5>
            <form class="mt-4" name="operations">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="owner1">Owner 1 full name</label>
                        <input type="text" name="ownerOneFullName" class="form-control" id="ownerOneFullName">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ownerOneTitle">Title</label>
                        <input type="text" name="ownerOneTitle" class="form-control" id="ownerOneTitle">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ownership">% Of ownership</label>
                        <input type="text" name="ownership" class="form-control" id="ownership">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="ownerTwoFullName">Owner 2 full name</label>
                        <input type="text" name="ownerTwoFullName" class="form-control" id="ownerTwoFullName">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ownerTwoTitle">Title</label>
                        <input type="text" name="ownerTwoTitle" class="form-control" id="ownerTwoTitle">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ownershioTwo">% Of ownership</label>
                        <input type="text" name="ownershioTwo" class="form-control" id="ownershioTwo">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="ownerThreeFullName">Owner 3 full name</label>
                        <input type="text" name="ownerThreeFullName" class="form-control" id="ownerThreeFullName">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ownerThreeTitle">Title</label>
                        <input type="text" name="ownerThreeTitle" class="form-control" id="ownerThreeTitle">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ownershipThree">% Of ownership</label>
                        <input type="text" name="ownershipThree" class="form-control" id="ownershipThree">
                    </div>
                </div>
                <div class="">
                    <div class="form-group">
                        <label for="">Are independent controls used?</label>
                        <input type="text" name="areIdependentControls" class="form-control" id="areIdependentControls">
                    </div>
                    <div class="form-group">
                        <label for="">Do you have multiple locations?</label>
                        <input type="text" name="multipleLocations" class="form-control" id="multipleLocations">
                    </div>
                    <div class="form-group mt-3">
                        <input type="checkbox" id="certified">
                        <label for="certified" class="ml-2">I certified that i am licensed person and have not had a
                            previous claim
                            in the past 3
                            years</label>
                    </div>
                </div>
                <div class="float-right">
                    <button progressStepPrev class="nextBtn prevBtn text-dark mr-3">prev</button>
                    <button (click)="lastStep(progress)" class="nextBtn">next</button>
                </div>
            </form>
        </div>
    </app-progress-step>
</app-progress>