.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.workerTitle {
  color: #0197b8;
}

.screeningQuestion {
  background: #d8dae4;
  padding: 12px 10px 5px 10px;
  border-radius: 3px;
}


